<footer>
  <div class="inner">
    <a class="logo" href="/">
      <img src="/assets/logo-white.svg" />
    </a>

    <div class="address">
      <p>
      {{{t.nj_address}}}
      </p>
      <p>
      {{{t.ny_address}}}
      </p>
    </div>

    {{> ./site-links.hbs }}
  </div>
</footer>