<header>
  <div class="inner">
    <a class="logo" href="/">
    </a>

    <ul>
      <li>
        <a href="/">TT for Two</a>
      </li>

      <li>
        <a href="/map">Where We've Played</a>
      </li>

      <li>
        <a>Matchmaking</a>
      </li>
    </ul>
  </div>
</header>