<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <title>{{ htmlWebpackPlugin.options.title }}</title>
    <link href="/main.css" rel="stylesheet" type="text/css"/>
  </head>
  <body data-page={{ page }}>
    <div class="layout">
      <header>
        <div class="inner">
          <div class="logo">
            <a href="/"><img src="/assets/ttfortwo-logo.png" /></a>
            <h1 data-type="label-s">{{heading}}</h1>
          </div>
          <a
            href="https://discord.gg/JBpCPhRy"
            target="_blank"
          >
            <button>Join Our Discord</button>
          </a>

          <div data-type="body-xs" id="swipe-instruction">swipe for menu →</div>
        </div>
      </header>

      <main>
        {{> ./menu.hbs }}
        <div class="layout-inner">
