<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ htmlWebpackPlugin.options.title }}</title>
    <link href="/main.css" rel="stylesheet" type="text/css"/>
  </head>
  <body data-page={{ page }}>
    <div class="layout">
      {{> ./header.hbs }}
      <div class="layout-inner">
        <main>