<button id="menu-trigger">
  <img src="/assets/menu.png" alt="Menu" />
  <img src="/assets/menu-color.png" alt="Menu" />
</button>

<section id="menu" data-is-open="false">
  <div class="inner">

    <ul class="left">
      <li>
        <a href="/map">
          <img src="/assets/about.png" alt="About" />
          <img src="/assets/about-info.png" alt="Who we are and what this is" />
        </a>

      </li>

      <li>
        <a href="/map">
          <img src="/assets/map.png" alt="Map" />
          <img src="/assets/map-info.png" alt="Where we've played" />
        </a>
      </li>
    </ul>

    <a class="logo" href="/">
      <img
        src="/assets/mascots-large.png"
        alt="TT for Two. A cheerful capybara with a tropical bird on its head; both holding table tennis equipment"
      />
    </a>

    <ul class="right">
      <li>
        <a href="/contact">
          <img src="/assets/guides.png" alt="Guides" />
          <img
            src="/assets/guides-info.png"
            alt="TT travel, books, movies, and more"
          />
        </a>
      </li>

      <li>
        <a href="/contact">
          <img src="/assets/contact.png" alt="Contact" />
          <img
            src="/assets/contact-info.png"
            alt="Ask questions, share tips, or just say hi"
          />
        </a>

      </li>
    </ul>

    <button class="close-menu">
      X
    </button>
  </div>
</section>