@font-face {
  font-family: "Inter";
  font-weight: 400;
  src: local("Inter"), url("/assets/Inter-Regular.ttf") format("opentype");
}

@font-face {
  font-family: "Inter";
  font-weight: bold;
  src: local("Inter"), url("/assets/Inter-Bold.ttf") format("opentype");
}

* {
  box-sizing: border-box;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  &::after {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
}


$white: #ffffff;
$gray-1: #F0F2F3;
$gray-2: #9AA5AB;
$gray-3: #33434B;
$gray-4: #151516;
$black: #000000;
$blue: #3DCDED;

@mixin type-title-s {
  font-size: 22px;
  line-height: 27px;
}

@mixin type-body-m {
  font-size: 16px;
  line-height: 24px;
}

@mixin type-body-s {
  font-size: 14px;
  line-height: 22px;
}

@mixin type-body-xs {
  font-size: 11px;
  line-height: 16px;
}

@mixin type-label-l {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

@mixin type-label-s {
  font-weight: 600;
  font-size: 10px;
  line-height: 13px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

@mixin container-primary {
  padding: 20px;
  background-color: $white;
}


html {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  font-family: Inter;
  box-sizing: border-box;
  height: 100%;
  display: flex;
  background-color: $gray-1;
}

h1, h2, h3, h4, p {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background-color: transparent;
  box-sizing: none;
  border: none;
  cursor: pointer;
}

img {
  width: 100%;
}

[data-type="body-m"] { @include type-body-m(); } 
[data-type="body-s"] { @include type-body-s(); } 
[data-type="body-xs"] { @include type-body-xs(); } 
[data-type="label-l"] { @include type-label-l(); } 
[data-type="label-s"] { @include type-label-s(); } 

.layout {
  flex: 1;
  padding: 0 20px;
  display: flex;
  flex-direction: column;

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 70px;

    .logo {
      display: flex;
      align-items: center;

      img {
        width: 50px;
        height: 50px;
        margin-right: 10px;
      }
    }

    button {
      border-radius: 10px;
      padding: 8px 12px;
      background-color: $blue;
      color: $white;
      @include type-label-s();
    }
  }



  main {
    flex: 1;
    display: flex;
    align-items: flex-start;

    #menu {
      width: 240px;
      margin-right: 10px;
      @include container-primary();
    }

    .layout-inner {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-self: stretch;
    }

    section {
      @include container-primary();

      &:not(:last-of-type) {
        margin-bottom: 10px;
      }
    }
  }
}

body[data-page="index"] {
  .preview {
    .heading {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 10px;
      color: $gray-2;

      a:hover {
        text-decoration: underline;
        color: $gray-3;
      }
    }

    .club-otd-label {
      color: $gray-3;
    }

    .club-otd-title {
      margin-top: 10px;
      margin-bottom: 8px;
      color: $gray-3;
    }
  }
}

@import "./menu.scss";
@import "./map.scss";
