$z-map: 2;

body[data-page="map"] {
  h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .content-inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .map-tools {
    display: flex;
    justify-content: center;
    width: 100%;

    .filters {
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding-bottom: 10px;

      label {
        font-size: 11px;
      }

      .filter {
        position: relative;
        display: flex;
        align-items: center;
        margin-left: 10px;

        &.star {
          .filter-option {
            position: relative;
            background-image: url('/assets/marker-pink.png');

            &::after {
              content: "";
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
            }

            &[data-stars="1"]::after{ background-image: url('/assets/marker-star-1.png'); }
            &[data-stars="2"]::after{ background-image: url('/assets/marker-star-2.png'); }
            &[data-stars="3"]::after{ background-image: url('/assets/marker-star-3.png'); }
          }
        }

        .filter-option {
          width: 30px;
          height: 30px;
          cursor: pointer;

          &[data-is-active="false"] {
            opacity: 0.3;
          }
        }
      }
    }
  }

  section.map {
    flex: 1;
    position: relative;
    width: 100%;
    max-width: 1100px;
    margin: auto;
    display: none;

    &[data-is-active="true"] {
      display: flex;
    }

    .proportional-spacer {
      &::after {
        content: "";
        position: static;
        display: block;
        width: 100%;
        padding-bottom: 2250 / 2600 * 100%
      }
    }

    .proportional-spacer, 
    > img,
    #mapbox-container {
      width: 100%;
      max-width: 600px;
      margin: auto;

      @media (max-width: 1000px) {
        max-width: 400px;
      }
    }
  
    > img,
    #mapbox-container {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      margin: auto;
      height: 100%;
    }

    > img {
      z-index: $z-map + 2;
      pointer-events: none;
    }

    .mapboxgl-ctrl-logo {
      display: none !important;
    }

    .club-preview {
      position: absolute;
      top: 20px;
      z-index: $z-map + 3;
      background-size: contain;
      width: 300px;
      visibility: hidden;

      @media (max-width: 1000px) {
        top: calc(100% + 80px) !important;
      }

      &[data-is-active="true"] {
        z-index: $z-map + 4;
        visibility: visible;

        .badges { 
          visibility: visible;
        }

        .marker {
          background-image: url('/assets/marker-black.png');
  
          .stars {
            filter: invert(1);
          }
        }
      }

      &[data-side="left"] {
        left: 10px;
        background-image: url('/assets/speech-bubble-left.png');
        &:nth-child(4n+1) { left: 40px; }
      }

      &[data-side="right"] {
        background-image: url('/assets/speech-bubble-right.png');
        right: 10px;
        &:nth-child(4n) { right: 40px; }
      }

      &::after {
        content: "";
        position: static;
        display: block;
        width: 100%;
        padding-bottom: 185 / 500 * 100%
      }

      .badges {
        visibility: hidden;
        position: absolute;
        bottom: 100%;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        .badge {
          background-size: contain;
          background-image: url('/assets/badge-border.png');
          width: 80px;
          height: 80px;
          display: flex;
          align-items: center;
          justify-content: center;

          img {
            width: 90%;
          }
        }
      }

      .content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 20px;
        padding-top: 13px;
        font-size: 11px;
        display: flex;
        align-items: center;

        .inner {
          flex: 1;
          width: 100%;
          margin-left: 10px;

          a {
            display: block;
            color: currentColor;
          }

          p {
            margin: 0;
          }
        }
      }
    }

    .marker {
      width: 40px;
      height: 50px;
      background-image: url('/assets/marker-pink.png');
      background-size: contain;

      &[data-is-hidden="true"] {
        display: none;
      }

      &[data-is-active="true"] {
        background-image: url('/assets/marker-black.png');
        z-index: $z-map + 1;

        .stars {
          filter: invert(1);
        }
      }

      &[data-stars="1"] .stars {
        background-image: url('/assets/marker-star-1.png');
      }

      &[data-stars="2"] .stars {
        background-image: url('/assets/marker-star-2.png');
      }

      &[data-stars="3"] .stars {
        background-image: url('/assets/marker-star-3.png');
      }


      .stars {
        width: 100%;
        height: 100%;
        background-size: contain;
      }
    }
  }
  
}



