body[data-page="map"] {
  h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .content-inner {
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }

  section.map {
    flex: 1;
    position: relative;
    width: 100%;
    max-width: 1100px;
    margin: auto;
    display: none;

    &[data-is-active="true"] {
      display: flex;
    }

    .proportional-spacer {
      width: 100%;
      max-width: 600px;
      margin: auto;

      &::after {
        content: "";
        position: static;
        display: block;
        width: 100%;
        padding-bottom: 2250 / 2600 * 100%
      }
    }
  
    > img,
    #mapbox-container {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      margin: auto;
      width: 100%;
      height: 100%;
      max-width: 600px;
    }

    > img {
      z-index: 3; // mapbox logo is 2
      pointer-events: none;
    }

    .club-preview {
      position: absolute;
      top: 20px;
      z-index: 4;
      background-size: contain;
      width: 300px;
      visibility: hidden;

      &[data-is-active="true"] {
        z-index: 5;
        visibility: visible;

        .badges { 
          visibility: visible;
        }

        .marker {
          background-image: url('/assets/marker-black.png');
  
          .stars {
            filter: invert(1);
          }
        }
      }

      &[data-side="left"] {
        left: 10px;
        background-image: url('/assets/speech-bubble-left.png');
        &:nth-child(4n+1) { left: 40px; }
      }

      &[data-side="right"] {
        background-image: url('/assets/speech-bubble-right.png');
        right: 10px;
        &:nth-child(4n) { right: 40px; }
      }

      &::after {
        content: "";
        position: static;
        display: block;
        width: 100%;
        padding-bottom: 185 / 500 * 100%
      }

      .badges {
        visibility: hidden;
        position: absolute;
        bottom: 100%;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        .badge {
          background-size: contain;
          background-image: url('/assets/badge-border.png');
          width: 80px;
          height: 80px;
          display: flex;
          align-items: center;
          justify-content: center;

          img {
            width: 90%;
          }
        }
      }

      .content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 20px;
        padding-top: 13px;
        font-size: 11px;
        display: flex;
        align-items: center;

        .inner {
          flex: 1;
          display: flex;
          flex-wrap: wrap;
          width: 100%;
          margin-left: 10px;

          a {
            color: currentColor
          }

          p {
            margin: 0;
          }
        }
      }
    }

    .marker {
      width: 40px;
      height: 50px;
      background-image: url('/assets/marker-pink.png');
      background-size: contain;

      &[data-is-active="true"] {
        background-image: url('/assets/marker-black.png');
        z-index: 4;

        .stars {
          filter: invert(1);
        }
      }

      &[data-stars="1"] .stars {
        background-image: url('/assets/marker-star-1.png');
      }

      &[data-stars="2"] .stars {
        background-image: url('/assets/marker-star-2.png');
      }

      &[data-stars="3"] .stars {
        background-image: url('/assets/marker-star-3.png');
      }


      .stars {
        width: 100%;
        height: 100%;
        background-size: contain;
      }
    }
  }
  
  section.list {
    max-height: 600px;
    overflow-y: scroll;
    flex: 1;
    display: none;

    &[data-is-active="true"] {
      display: block;
    }

    .club {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      cursor: pointer;
      padding: 10px;

      &:hover {
        text-decoration: underline;
      }

      .tags {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin: -5px;

        label {
          display: block;
          font-size: 10px;
          text-transform: uppercase;
          letter-spacing: 0.1em;
          background-color: yellow;
          color: #333;
          margin: 5px;
        }
      }
    }
  }

  
}



