body[data-page="map"] {
  .layout{
    main {
      min-height: 0;

      section {
        flex: 1;
        display: flex;
        min-height: 0;
        margin-bottom: 20px;
        padding: 0;

        @media (max-width: 1024px) {
          flex-direction: column;
        }
      }
    }
  }

  .club-map {
    position: relative;
    flex: 1;
    overflow: hidden;

    @media (max-width: 1024px) {
      min-height: 200px;
      height: auto;
    }

    .map-key {
      position: absolute;
      bottom: 5px;
      left: 5px;
      padding: 5px 8px;
      background-color: $gray-1;
      color: $gray-3;
      font-size: 9px;
      line-height: 14px;
      pointer-events: none;
    }
  }

  #mapbox-container {
    width: 100%;
    height: calc(100% + 30px);

    .marker {
      width: 20px;
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: center;

      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        font-size: 6px;
        line-height: 18px;
        z-index: 1;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        border-radius: 100%;
        background-color: $gray-2;
        box-shadow: $gray-3 0 0 2px;
        box-sizing: border-box;
        transition: all 200ms ease-in-out;
        transform-origin: bottom center;
      }

      &[data-stars="1"]::before { content: "★" }
      &[data-stars="2"]::before { content: "★★" }
      &[data-stars="3"]::before { content: "★★★" }
      &[data-closed="true"]::before { content: "🪦" }

      &::after {
        content: "";
        background-color: $gray-2;
        position: absolute;
        bottom: 0px;
        left: 0;
        right: 0;
        margin: auto;
        width: 2px;
        height: 10px;
        z-index: 1;
        transform: scaleY(0);
        transition: all 200ms ease-in-out;
        transform-origin: bottom center;
      }

      &[data-is-active="true"] {
        z-index: 1;

        &::before { 
          bottom: 5px;
          transform: scale(1.5); 
          background-color: $white;
          border: 1px solid $gray-3;
        }

        &::after {
          transform: scaleY(1);
          background-color: $white;
        }
      }
    }
  }

  .club-list-outer {
    position: relative;
    border-left: 2px solid $gray-1;
    box-sizing: border-box;

    @media (max-width: 1024px) {
      flex: 1;
      min-height: 200px;
    }

    &::after, &::before {
      content: "";
      position: absolute;
      left: 0;
      width: 100%;
      height: 10px;
      z-index: 1;
      pointer-events: none;
    }

    &::after {
      top: 0;
      background: linear-gradient($white, rgba(255,255,255,0));
      border-top: 10px solid $white;
    }

    &::before {
      bottom: 0;
      background: linear-gradient(rgba(255,255,255,0), $white);
      border-bottom: 10px solid $white;
    }
  }

  #club-detail {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @include container-primary();
    overflow: scroll;
    @include hide-scrollabars();

    &[data-is-open="false"] {
      display: none;
    }

    #view-all-clubs {
      padding: 10px 0;
      margin-top: -10px;
      margin-bottom: 20px;
      color: $gray-2;
      transition: color 100ms linear;

      &:hover {
        color: $gray-3;
        text-decoration: underline;
      }
    }

    .club-detail {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;

      label { 
        color: $gray-2;
        margin-bottom: 5px; 
      }

      a {
        white-space: pre-line;
        .arrow { color: $gray-2; }
        &:hover {
          text-decoration: underline;
          .arrow { color: inherit }
        }
      }
    }
  }

  #club-list {
    height: 100%;
    overflow: scroll;
    width: 320px;
    padding: 20px;
    @include hide-scrollabars();

    @media (max-width: 1024px) {
      width: 100%;
    }

    .intro {
      @media (max-width: 1024px) {
        max-width: 320px;
        margin: auto;
        text-align: center;
      }
    }

    .country {
      border-top: 1px solid $gray-2;
      margin-top: 20px;
      padding-top: 20px;

      h4 {
        color: $gray-2;
      }

      label {
        display: block;
        margin-top: 20px;
        margin-bottom: 5px;
      }

      label:first-of-type {
        margin-top: 10px;
      }

      .club {
        width: 100%;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
          span { display: inline; }
        }

        span {
          display: none;
        }
      }
    }
  }
}



