#menu {
  h1 {
    color: $gray-2;
  }

  .divider {
    width: 30px;
    border-bottom: 1px solid $gray-2;
    margin-bottom: 20px;
  }

  li {
    color: $gray-3;

    &:not(:last-of-type) {
      margin-bottom: 30px;
    }

    a {
      display: flex;
      align-items: center;

      &:hover {
        color: $black;
          
        strong {
          text-decoration: underline;

          .arrow {
            display: inline;
          }
        }
      }

      strong.light {
        font-weight: normal;
      }

      .emoji {
        display: flex;
        align-items: center;
        margin-right: 5px;

        img {
          width: 18px;
          height: 18px;
        }
      }

      .arrow {
        display: none;
      }
    }
  }
}
