{{> ../partials/html-start.hbs page="index" }}

<section class="intro">
  <div class="content center">
    <div class="content-inner">
      <img src="/assets/logo-black.svg" alt="{{t.home1_title}}" />
      <p>
        TT for Two
      </p>
    </div>
  </div>
</section>

{{> ../partials/html-end.hbs }}
