{{> ../partials/html-start.hbs page="index" }}

<section class="intro">
  <div class="content center">
    <div class="content-inner">
      <img width="300px" src="/assets/mascots-large.png" alt="{{t.home1_title}}" />
      <h1>
        TT for Two
      </h1>

      <ul>
        {{#each clubs}}
          <li>{{ this.name }}</li>
        {{/each}}
      </ul>
    </div>
  </div>
</section>

{{> ../partials/html-end.hbs }}