{{> ../partials/html-start.hbs page="index" }}

<section class="preview">
  <div class="heading">
    <h3 data-type="body-m">Map</h3>
    <a href="/map" data-type="body-s">Explore all {{clubs.length}} clubs we've visited →</a>
  </div>

  <label class="club-otd-label" data-type="label-s">Club of the Day</label>
  <h4 class="club-otd-title" data-type="title-s"></h4>
  <label class="club-otd-location" data-type="body-s"></label>
</section>

<section class="preview">
  <div class="heading">
    <h3 data-type="body-m">Blog</h3>
    <a href="/blog" data-type="body-s">Check out all our latest posts →</a>
  </div>

  <label class="club-otd-label" data-type="label-s">Featured Post</label>
  <h4 class="post-otd-title" data-type="title-s"></h4>
  <label class="post-otd-location" data-type="body-s"></label>
</section>


{{> ../partials/html-end.hbs }}