{{> ./partials/html-start.hbs page="index" }}
<section class="intro">
  <div class="content center">
    <div class="content-inner">
      <img src="/assets/logo-black.svg" alt="{{t.home1_title}}" />
      <p>
        {{t.home1_body}}
      </p>
    </div>
  </div>
</section>

<section class="follow">
  <div class="content left">
    <div class="content-inner">
      <h3>Experience &amp; Credentials</h3>
      <h2>Established Track Record</h2>
      <p>
        {{t.home2_body}}
      </p>
    </div>
  </div>
</section>
{{> ./partials/html-end.hbs }}
