{{> ../partials/html-start.hbs page="map" }}

<section>
  <div class="club-map">
    <div id="mapbox-container"></div>
  </div>

  <div class="club-list-outer">
    <div 
      id="club-detail" 
      data-is-open="{{#if activeClub}}true{{else}}false{{/if}}"
    >
      <button id="view-all-clubs" data-type="label-s">← View All Clubs</button>

      <div 
        id="active-club-info" 
        data-id="{{#if activeClub}}{{activeClub.id}}{{/if}}"
      >
        {{#if activeClub}}
          {{> ../partials/club-info.hbs club=activeClub }}
        {{/if}}
      </div>
    </div>

    <div id="club-list">
      <p class="intro" data-type="body-xs"><em>Here is a list of all the table tennis clubs we've visited around the world - {{clubs.length}} in total so far. Where should we go next?</em></p>
    </div>
  </div>
</section>

{{> ../partials/html-end.hbs }}
