{{> ../partials/html-start.hbs page="map" }}

<section class="intro">
  <h1>
    <img src="/assets/map.png" alt="Map" />
    <img src="/assets/map-info.png" alt="Where we've played" />
  </h1>

  <div class="content center">
    <div class="content-inner">
      <div class="map-tools">
        <div class="filters">
          <div class="filter star">
            <div class="filter-option" data-stars="0"></div>
            <div class="filter-option" data-stars="1"></div>
            <div class="filter-option" data-stars="2"></div>
            <div class="filter-option" data-stars="3"></div>
          </div>
        </div>
      </div>
      <section class="map" data-is-active="true">
        <img src="/assets/map-border.png" />
        <div class="proportional-spacer"></div>
        <div id="mapbox-container"></div>
      </section>
    </div>
  </div>
</section>

{{> ../partials/html-end.hbs }}
