{{> ../partials/html-start.hbs page="map" }}

<section class="intro">
  <h1>
    <img src="/assets/map.png" alt="Map" />
    <img src="/assets/map-info.png" alt="Where we've played" />
  </h1>
  <div class="content center">
    <div class="content-inner">
      <section class="map">
        <img src="/assets/map-border.png" />
        <div id="mapbox-container"></div>
      </section>

      <section class="list">
        <ul>
          {{#each clubs}}
            <li class="club" data-slug="{{this.slug}}">
              {{ this.name }}
            </li>
          {{/each}}
        </ul>
      </section>
    </div>
  </div>
</section>

{{> ../partials/html-end.hbs }}
