{{> ../partials/html-start.hbs page="club" }}

<section class="intro">
  <div class="content center">
    <div class="content-inner">
      <img src="/assets/logo-black.svg" alt="{{club.name}}" />
      <p>
        {{club.name}}
        {{club.tags}}
      </p>
    </div>
  </div>
</section>

{{> ../partials/html-end.hbs }}
